# Chapter 1 - The Essentials

The # sign is used for heading tags 
## 2nd level
### 3rd level
#### 4th level

This is similar to h1 to h6 tags in html

*italics*
_italics_

**bold**
__bold__

**_bold italic_**

In [1]:
#Helloworld.py
#Use print to output value
print("Hello World!")

Hello World!

In [2]:
#Output values without string
"Hello World!"

'Hello World!'

A variable is created the moment you first assign a value to it.

In [3]:
name = "John"
print(name)

John

In [4]:
x, y, z = "A", "new", "dawn"
print(x)
print(y)
print(z)

A
new
dawn

## Methods

Python has a set of built-in methods that you can use on strings.

All string methods return new values. 
They do not change the original string.


String methods for changing case and formatting.

In [5]:
#Converts a string into lower case
name.lower()

'john'

In [6]:
#Converts a string into upper case
name.upper()

'JOHN'

In [7]:
#Converts the first character to upper case
x = 'hello world'
x.capitalize()

'Hello world'

In [8]:
#Convert first letters to cap
x.lower().title()

'Hello World'

Method replaces a specified phrase with another specified phrase.
All occurrences of the specified phrase will be replaced, if nothing else is specified.
string.replace(oldvalue, newvalue, count)

In [9]:
print(x.title().replace(" ","\n"))

Hello
World

## Concatenate Objects


To concatenate, or combine, two strings you can use the + operator.

In [10]:
"This " + "is " + "interesting."

'This is interesting.'


The + sign will sum values that are int or float

In [11]:
10+12

22

In [12]:
x + "12"

'hello world12'

In [13]:
"1" "2" "3"

'123'

## String interpolation

In [15]:
n1 = 'Hello'
n2 = 'World'

# for single substitution
print("Welcome to the % s" % n2)

# for single and multiple substitutions()
# mandatory
print("% s ! This is a new % s." % (n1, n2))

Welcome to the World
Hello ! This is a new World.


str.format() works by putting in one or more replacement fields and placeholders defined by a pair of curly braces { } into a string.

In [16]:
n1 = 'Hello'
n2 = 'World'

# for single substitution
print('{}, {}'.format(n1, n2))

Hello, World

In [17]:

n1 = "Hello"
n2 = "Khalifa"

# for single or multiple substitutions
# let's say b1 and b2 are formal parameters
# and n1 and n2 are actual parameters
print("{b1}! This is {b2}.".format(b1=n1, b2=n2))

# we can also change the order of the 
# variables in the string without changing 
# the parameters of format function
print("{b2}! This is {b1}.".format(b1=n1, b2=n2))

Hello! This is Khalifa.
Khalifa! This is Hello.

In [19]:
n1 = 'Hello'
n2 = 'Khalifa'

# f tells Python to restore the value of two
# string variable name and program inside braces {}
print(f"{n1}! This is {n2}")

Hello! This is Khalifa

## Quotes and Escape
An escape character is a backslash \ followed by the character you want to insert.


### Double quotes

In [21]:
double_quotes = " This is a sample use of \"double quotes\" in double quotes."
print(double_quotes)

 This is a sample use of "double quotes" in double quotes.

### Single quotes

In [24]:
single_quotes = 'This is a sample use of \'single quotes\' in single quotes.'
print(single_quotes)

This is a sample use of 'single quotes' in single quotes.

In [26]:
read_backslash = "We may use two backslashes to print a single backslash: \\"
print(read_backslash)

We may use two backslashes to print a single backslash: \

## Values

There are three numeric types in Python:

1. int
2. float
3. complex

In [29]:

classNumber = 20 #int
classNumberFloat = 20.00
classNumberComplex = (2 + 0j)



convert1 = float(classNumber)
convert3 = complex(classNumber)
convert2 = int(classNumberFloat)

print(convert1, convert2, convert3)

20.0 20 (20+0j)